aiohttp 
aiosignal 
appdirs 
async-timeout 
attrs 
blinker 
Brotli 
certifi==2023.7.22
charset-normalizer 
click 
colorama 
contourpy 
cycler 
docker-pycreds==0.4.0
et-xmlfile 
exceptiongroup 
Flask 
fonttools 
frozenlist 
gitdb 
GitPython 
gunicorn==21.2.0
idna 
importlib-metadata 
importlib-resources 
iniconfig 
itsdangerous 
Jinja2 
joblib 
kiwisolver 
MarkupSafe 
matplotlib 
multidict 
munkres==1.1.4
numpy 
openai 
openpyxl 
packaging 
pandas 
pandas-stubs 
pathtools==0.1.2
Pillow 
platformdirs 
plotly 
pluggy 
pooch 
protobuf==4.24.4
psutil 
pyparsing 
PySocks 
pytest 
python-dateutil 
pytz 
PyYAML 
regex 
requests 
scikit-learn 
scipy 
sentry-sdk 
setproctitle 
six 
smmap 
tenacity 
threadpoolctl  
tomli 
tqdm 
types-pytz 
typing_extensions 
tzdata 
unicodedata2 
urllib3 
wandb 
Werkzeug 
yarl 
zipp 
